$primary: #489950;
$primary-dark: #005c37;
$primary-hover: #60b468;
$secondary: #412b0d;
$secondary-dark: #241408;
$success: #2eb100;
$link-hover: #eaf7eb;
$body-bg: #f7f4e9;
$text-gray-500: #292929;
.gallery-slider {
    .slick-dots {
        bottom: 30px;
        li {
            button{
                &::before {
                    font-size: 13px;
                }
                &:hover {
                    background-color: transparent;
                }
            }
        }
    }
}
.problem-section {
    figure {
        max-width: 150px;
        text-align: center;
    }
    .wp-block-image {
        img {
            border-radius: 50%;
        }
    }
}
.certi-slider {
    figure {
        margin-bottom: 0;
        max-width: 20%;
        padding: 0 25px;
        text-align: center; 
        img {
            max-width: 120px;
            margin: 0 auto;
        }
    }
}
.testimonial-slider {
    .searchwp-testimonial--verified-user {
        border: 1px solid #c4d6c6;
        font-size: 9px;
        line-height: 1.3;
        max-width: fit-content;
        margin-top: 10px;
    }
}
.homepage-product-section {
    .woocommerce-notices-wrapper {
        display: none;
    }
    .product-image-plus-summary {
        max-width: 1200px;
        margin: 0 auto;
        position: relative;
        .single-product-image {
            margin-bottom: 1rem;
            .woocommerce-product-gallery {
                opacity: 1 !important;
                width: 100% !important;
                .woocommerce-product-gallery__image:not(:first-child) {
                    display: none;
                }
            }
            .onsale {
                background-color: #ef0000;
                font-size: 12px;
                left: 25px !important;
                position: absolute;
                top: 10px;
                color: #fff;
                border-radius: 30px;
                line-height: normal;
                min-width: auto;
                min-height: auto;
            }
        }
        .summary {
            .product_title {
                color: #fff !important;
            }
            .woocommerce-product-rating {
                display: none !important;
                .custom-star-rating {
                    .star-rating {
                        color: #FFBA00;
                        margin: 0;
                    }
                }
            }
            .custom-product-info {
                .custom-price {
                    .text-danger {
                        color: #fff !important;
                    }
                    .text-muted {
                        color: #918a8a !important;
                    }
                }
                .custom-quantity {
                    color: #fff;
                    .quantity-options {
                        button {
                            background: #fff;
                            color: #000;
                            border: 2px solid #cccccc;
                            .variation-details-big {
                             .variation-details-original-price {
                               font-size: 12px;
                               top: -10px;
                             }
                             .best-result {
                               padding-top: 10px;
                               color: #fff;
                               border-radius: 0 0 2px 2px;
                             }
                             li {
                               &:first-child {
                                 padding-top: 16px;
                               }
                               &:last-child {
                                 padding-bottom: 10px;
                               }
                             }
                            }
                            &.active {
                             color: $primary;
                             border-color: $primary;
                             .variation-details-big {
                               .best-result {
                                 border-radius: 0;
                               }    
                              }
                            }
                        }
                    }
                }
                .price-revert-back {
                    p {
                        color: #fff !important;
                    }
                }
            }
        }
    }
    // .productAccordion,
    // .single-product-guarantee,
    // .product-description,
    // .woocommerce-Reviews,
    // .count-down-single-product,
    // .price-revert-back,
    // .woocommerce-product-rating  {
    //     display: none !important;
    // }
}
@media only screen and (max-width:640px){
    .problem-section {
        figure {
            max-width: 120px;
        }
    }
    .certi-slider {
        figure {
            max-width: 20%;
        }
    }
}